@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

  

.conteiner{
 width: 100%;
 max-width: 600px;
 height: 600px;
 display: flex;
 flex-direction: column;
 margin-top: 200px;
 margin: auto;
 background-color: aqua;

}
.tabuleiro{
    background-color: black;
    height: 500px;
    width: 100%;
    max-width: 500px;
    margin: auto;
    border-radius: 3%;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    max-width: 450px;
    gap: 15px;
    margin: auto;
    
}
.coluna{
    background-color: black;
    height: 50px;
    width: 100%;
    max-width: 500px; 
    border-radius: 1%;
    margin: auto;
    display: flex;
   gap: 15px;
   align-items: center;
    /*justify-content: center;*/
   
    
}

.cartas{
    width: 100px;
    aspect-ratio: 3/4;
    position: relative;
    transition: all 600ms ease;
    transform-style: preserve-3d;
    border: 1px solid red;
    margin: auto;
    margin-top: 17px;
    
}
.a{
    width: 100%;
    height: 100%;
    position: absolute;

    
}

img{
    height: 150px;
    width: 100px;

}
.atras{
    background-image:url(atras.jpg);
    background-image: cover;
    background-position: center;
    backface-visibility: hidden;
    background-size: cover;
    
}
.frente{
    background-image: cover;
    
    transform: rotateY(180deg);
    background-size: cover;
}
h1{
    text-align: center;
    margin-bottom:10px;
}
.revelar{
    transform: rotateY(180deg);
}
.desativada{
    background-color: black;
}
.foi{
opacity: 0.3;
transition: all 800ms ease;
/*filter: saturate(0);*/
/*border: 5px solid blue;*/

}
.ponto{
color:#fff;
background-color: red;
}
.cronometro{
  color: #fff;
  background-color: orange;
  width: 80px;
 
}
.nome{
    background-color: purple;
    color: #fff;
    width: 300px;
}

.ab{
    
    display: flex;
}
body{
    font-size: 15px;
    font-family: "Pacifico";

}